# Dependencies
node_modules

# Variables de entorno (no subir al repo)
.env

# Build outputs
dist
build

# Prisma generated client
generated
/src/generated/prisma

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
